.spacer{
    flex: 1 1 auto;
    float: right;
}
    
  /* .btn {
    padding-right: 10px;
    border: none;
    font-family: cursive;
    letter-spacing: 1px;
    transition: 0.4s;
    color: #00b3dc;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    line-height: 20px;
  } */
  
  
  