<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<mat-toolbar color="primary">
    <span>My Assignment</span>


</mat-toolbar>


    <div class="container">
        <table class="table table-trapped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Profile</th>
                <th>Edit User</th>
                <th>Delete User</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of users" >
                  <td>{{data.name}}</td>
                  <td>{{data.address}}</td>
                  <td>{{data.profile}}</td>
                  <td>  <button mat-raised-button  id={{data.id}} (click)="editUser(data)"  >
                    Edit</button>
                </td>
                <td> <button mat-raised-button  (click)="deleteUser(data)" >
                  Delete</button>
      
            </tr>
        </tbody>
        </table>
      </div>

      