<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<div class="jumbotron">
    <div class="container">
      <form [formGroup]="registerForm" (ngSubmit)="updateUser()" fxLayoutAlign="stretch" fxLayout="column">
        <mat-card fxFlex="50">
          <h2>UPDATE EMPLOYEE DETAIL</h2> <br>
          <!-- FirstName -->
          <div class="form-group">
            <label><b> First name:</b></label><br>
            <input type="text" formControlName="name" class="form-control" value="{{user.name}}"
              placeholder="Enter your name" [ngClass]="{'is-invalid': submitted && f.name.errors}">
            <div *ngIf="submitted && f.name.errors">
              <div [style.color]=" 'red'" *ngIf="f.name.errors.required">
                The name is required
              </div>
            </div>
           </div>
            <br><br>
              
            <!-- address -->
            <div class="form-group">
              <label><b> Address:</b></label><br>
              <input type="text" formControlName="address" class="form-control" placeholder="Enter your address"
                [ngClass]="{'is-invalid': submitted && f.address.errors}">
              <div *ngIf="submitted && f.address.errors">
                <div [style.color]=" 'red'" *ngIf="f.address.errors.required">
                  The name is required
                </div>
              </div>
            </div><br>

             <!-- Profile -->
             <div class="form-group">
                <label><b> Address:</b></label><br>
                <input type="text" formControlName="profile" class="form-control" placeholder="Enter your profile"
                  [ngClass]="{'is-invalid': submitted && f.profile.errors}">
                <div *ngIf="submitted && f.profile.errors">
                  <div [style.color]=" 'red'" *ngIf="f.profile.errors.required">
                    The name is required
                  </div>
                </div>
              </div><br>
                             
  
          <div class="form-group">
            <button class="btn btn-primary">UPDATE PROFILE</button>
          </div>
  
        </mat-card>
      </form>
    </div>
  </div>
  